#contacto{
    overflow: hidden;
}

.contato-right button{
    background-color: var(--c-secundary);
}

.contato-right button:hover{
    background-color: var(--c-secundary);
}

.contato-content{
    background: rgb(4,0,46);
    background: linear-gradient(180deg, rgba(4,0,46,1) 0%, rgba(0,0,110,1) 54%, rgba(17,6,130,1) 100%);
}

.left-row{
   
    color: rgba(255, 255, 255, 0.877);
    text-decoration: none;
}

.left-row a{
    color: rgba(255, 255, 255, 0.877);
}

.informacoes-content{
    background-color: white;
    color: black;
    -webkit-box-shadow: 1px 0px 20px -6px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 0px 20px -6px rgba(0,0,0,0.5);
    box-shadow: 1px 0px 20px -6px rgba(0,0,0,0.5);
}

.contato-icon{
    font-size: 30px;
}

.form-control, .form-select{
    border-radius: 20px;
    border:1px solid rgba(106, 107, 103, 0.829);
}

.button-contato {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    background-color: var(--c-secundary);
    padding: 10px 30px;
    border: none;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 50px;
    transition : 0.2s linear;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.button-contato:hover{
    background-color: #f7c155;
    color: aliceblue;
    transition : 0.2s linear;
    transform: translateY(-0px);
    padding: 10px 50px;
}
