li{
    list-style-type: none;
}

.lista-icones{
    color: var(--c-secundary);
}

.contato-footer{
    color: var(--c-secundary);
}

.bg-footer{
    background-color: var(--c-primary);
}

.footer-bottom{
    color: var(--c-secundary);
    padding-top: 5px;
    padding-bottom: 40px;
}

.imagem-footer{
    width: 200px;
}