li{
    list-style-type: none;
}

.lista-icones{
    color: var(--c-secundary);
}

.contato-footer{
    color: var(--c-secundary);
}

.bg-footer{
    background-color: var(--c-primary);
}

.footer-bottom{
    color: var(--c-secundary);
    padding-top: 5px;
    padding-bottom: 40px;
}

.imagem-footer{
    width: 200px;
}
ul a{
    color: var(--c-secundary);
    text-decoration: none;
}

.footer-icon-whatsapp:hover{
    cursor:pointer;
    color: #25D366;
}

.footer-icon-facebook:hover{
    cursor: pointer;
    color: #406ed3;
}

.footer-icon-instagram:hover{
    cursor: pointer;
    color: #E1306C;
}