.navbar-background{
    background-color: var(--c-primary);
}

.navbar{
    color: white;
}

.navbar-button:hover{
    cursor: pointer;
}

.logo-image{
    width: 150px;
}

a{
    text-decoration: none;
}

.nav-links-bottom{
    background-color: var(--c-secundary);
}

.nav-links-bottom a{
    color: var(--c-primary);
    font-weight: 500;
}

.nav-bottom{
    margin-top: 70px;
}
