.navbar-background{
    background-color: var(--c-primary-transparent);
}

.navbar{
    color: white;
}

.navbar-button:hover{
    cursor: pointer;
}

.logo-image{
    width: 80px;
}

a{
    text-decoration: none;
}

.nav-links-bottom a{
    color: white;
    font-weight: 500;
}

.nav-links-bottom a:hover{
    color: var(--c-secundary);
}

a.ativo{
    color: var(--c-secundary);
}

.nav-bottom{
    margin-top: 70px;
}

.custom-toggler.navbar-toggler {
    border-color: transparent;
}

.nav-link.active {
    color: var(--c-secundary) !important;
    text-decoration:none;
}

.nav-icon-whatsapp:hover{
    cursor:pointer;
    color: #25D366;
}

.nav-icon-facebook:hover{
    cursor: pointer;
    color: #406ed3;
}

.nav-icon-instagram:hover{
    cursor: pointer;
    color: #E1306C;
}

.icon-items a{
    color: white;
}