#sobre{
    overflow: hidden;
}

.image-sobre{
    background: url(../../assets/logo.png);
    background-position: center;
    background-size: cover;
}

.background-sobre{
    background-color: var(--c-primary);
}

.background-fundo{
    background-color: #d3d3d354;
}

.title-servicos-badge-final{
    width: 60%;
    height: 3px;
    margin-top: 0px;
    z-index: 0;
    background-color: black;
}

.quota-icon{
    font-size: 25px;
}