.section__padding{
  padding: 4rem 8rem;
}

.main{
  font-family: var(--font-family);
}

p{
  padding: 0;
  margin: 0;
}

#servicos{
  background-color: white;
}

#desdobro, #cadan, #edificacao, #calculo, #instalacao, #construcoes{
  background-color: var(--c-primary);
  color: var(--c-secundary)
}

.swiper-button-prev {
  color: var(--c-secundary) !important;
}

.swiper-button-next {
  color: var(--c-secundary) !important; 
}

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal{
  color: var(--c-secundary) !important;
} 
