.main{
  font-family: var(--font-family);
}

body::-webkit-scrollbar {
  width: 12px;             
}

body::-webkit-scrollbar-track {
  background: #d3d3d3;        
}

body::-webkit-scrollbar-thumb {
  background-color: #4e40e7;    
  border-radius: 20px;      
  border: 3px solid #d3d3d3;  
}

p{
  padding: 0;
  margin: 0;
}

#servicos{
  background-color: white;
}

#desdobro, #cadan, #edificacao, #calculo, #instalacao, #construcoes{
  background-color: var(--c-primary);
  color: var(--c-secundary)
}

.swiper-button-prev {
  color: var(--c-secundary) !important;
}

.swiper-button-next {
  color: var(--c-secundary) !important; 
}

.swiper-pagination, .swiper-pagination-clickable, .swiper-pagination-bullets, .swiper-pagination-horizontal{
  color: var(--c-secundary) !important;
} 
